<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Automation" thread-count="2">
<listeners>
<listener class-name="com.qa.SeleniumFramework.listeners.ExtentReportListener" />

</listeners>
	<test name="Login Test">
		<classes>
			<!-- <class name="com.qa.Selenium.base.BaseTest"/> -->
			<class name="com.qa.SeleniumFramework.test.LoginPageTest" />
			<!-- <class name="com.qa.SeleniumFramework.test.HomePageTest"/>  -->
		</classes>
	</test>
	
	<test name="Home Page Test">
		<classes>
			<!-- <class name="com.qa.Selenium.base.BaseTest"/> -->
			<!-- <class name="com.qa.SeleniumFramework.test.LoginPageTest"/> -->
			<class name="com.qa.SeleniumFramework.test.HomePageTest"/>
			
		</classes>
	</test>	
	
</suite>

